#**Lab 1**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dAccidents = pd.read_csv('/content/drive/MyDrive/DatasetFiles/DSCI5240/Denton Accidents.csv', skiprows = 12, dtype= str)

In [ ]:
dAccidents.shape

(3608, 15)

In [ ]:
dAccidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3608 entries, 0 to 3607
Data columns (total 15 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Crash ID                                   3608 non-null   object
 1   $1000 Damage to Any One Person's Property  3608 non-null   object
 2   Adjusted Average Daily Traffic Amount      3608 non-null   object
 3   City                                       3608 non-null   object
 4   Crash Date                                 3608 non-null   object
 5   Crash Severity                             3608 non-null   object
 6   Crash Time                                 3608 non-null   object
 7   Date Scene Cleared                         3608 non-null   object
 8   Manner of Collision                        3608 non-null   object
 9   Road Class                                 3608 non-null   object
 10  Roadway Type                               3608 non-null   object
 11  Speed Limit                                3608 non-null   object
 12  Surface Condition                          3608 non-null   object
 13  Time Scene Cleared                         3608 non-null   object
 14  Weather Condition                          3608 non-null   object
dtypes: object(15)
memory usage: 422.9+ KB

In [ ]:
dAccidents.isna().sum()

Crash ID                                     0
$1000 Damage to Any One Person's Property    0
Adjusted Average Daily Traffic Amount        0
City                                         0
Crash Date                                   0
Crash Severity                               0
Crash Time                                   0
Date Scene Cleared                           0
Manner of Collision                          0
Road Class                                   0
Roadway Type                                 0
Speed Limit                                  0
Surface Condition                            0
Time Scene Cleared                           0
Weather Condition                            0
dtype: int64

In [ ]:
dAccidents['Crash ID'].nunique()

3608

In [ ]:
dAccidents.set_index('Crash ID', inplace=True)

In [ ]:
dAccidents.head()

,$1000 Damage to Any One Person's Property,Adjusted Average Daily Traffic Amount,City,Crash Date,Crash Severity,Crash Time,Date Scene Cleared,Manner of Collision,Road Class,Roadway Type,Speed Limit,Surface Condition,Time Scene Cleared,Weather Condition
Crash ID,,,,,,,,,,,,,,
19468595,Yes,83664,DENTON,2023-04-01,N - NOT INJURED,1559,2023-04-01,SAME DIRECTION - BOTH GOING STRAIGHT-SIDESWIPE,INTERSTATE,"4 OR MORE LANES, DIVIDED",50,1 - DRY,1559,1 - CLEAR
19474485,Yes,70137,DENTON,2023-04-01,N - NOT INJURED,1544,2023-04-01,SAME DIRECTION - BOTH GOING STRAIGHT-SIDESWIPE,INTERSTATE,"4 OR MORE LANES, DIVIDED",70,1 - DRY,1640,1 - CLEAR
19474684,Yes,No Data,DENTON,2023-04-01,N - NOT INJURED,1930,2023-04-01,ONE MOTOR VEHICLE - GOING STRAIGHT,CITY STREET,No Data,30,1 - DRY,2055,1 - CLEAR
19476604,Yes,27522,DENTON,2023-04-01,N - NOT INJURED,0948,2023-04-01,ANGLE - ONE STRAIGHT-ONE RIGHT TURN,US & STATE HIGHWAYS,"4 OR MORE LANES, DIVIDED",50,1 - DRY,1026,1 - CLEAR
19476605,Yes,No Data,DENTON,2023-04-01,C - POSSIBLE INJURY,1246,2023-04-01,ONE MOTOR VEHICLE - GOING STRAIGHT,CITY STREET,No Data,40,1 - DRY,1305,1 - CLEAR

In [ ]:
dAccidents['Crash Date Time'] = dAccidents['Crash Date'] + dAccidents['Crash Time']

In [ ]:
dAccidents['Crash Date Time']

Crash ID
19468595    2023-04-011559
19474485    2023-04-011544
19474684    2023-04-011930
19476604    2023-04-010948
19476605    2023-04-011246
                 ...
20318138    2024-07-301630
20323026    2024-07-301254
20313710    2024-07-311205
20313725    2024-07-311633
20316856    2024-07-311745
Name: Crash Date Time, Length: 3608, dtype: object

In [ ]:
dAccidents['Accident Time'] = pd.to_datetime(dAccidents['Crash Date Time'], format='%Y-%m-%d%H%M')

In [ ]:
dAccidents.head(10)

,$1000 Damage to Any One Person's Property,Adjusted Average Daily Traffic Amount,City,Crash Date,Crash Severity,Crash Time,Date Scene Cleared,Manner of Collision,Road Class,Roadway Type,Speed Limit,Surface Condition,Time Scene Cleared,Weather Condition,Crash Date Time,Accident Time
Crash ID,,,,,,,,,,,,,,,,
19468595,Yes,83664,DENTON,2023-04-01,N - NOT INJURED,1559,2023-04-01,SAME DIRECTION - BOTH GOING STRAIGHT-SIDESWIPE,INTERSTATE,"4 OR MORE LANES, DIVIDED",50,1 - DRY,1559,1 - CLEAR,2023-04-011559,2023-04-01 15:59:00
19474485,Yes,70137,DENTON,2023-04-01,N - NOT INJURED,1544,2023-04-01,SAME DIRECTION - BOTH GOING STRAIGHT-SIDESWIPE,INTERSTATE,"4 OR MORE LANES, DIVIDED",70,1 - DRY,1640,1 - CLEAR,2023-04-011544,2023-04-01 15:44:00
19474684,Yes,No Data,DENTON,2023-04-01,N - NOT INJURED,1930,2023-04-01,ONE MOTOR VEHICLE - GOING STRAIGHT,CITY STREET,No Data,30,1 - DRY,2055,1 - CLEAR,2023-04-011930,2023-04-01 19:30:00
19476604,Yes,27522,DENTON,2023-04-01,N - NOT INJURED,0948,2023-04-01,ANGLE - ONE STRAIGHT-ONE RIGHT TURN,US & STATE HIGHWAYS,"4 OR MORE LANES, DIVIDED",50,1 - DRY,1026,1 - CLEAR,2023-04-010948,2023-04-01 09:48:00
19476605,Yes,No Data,DENTON,2023-04-01,C - POSSIBLE INJURY,1246,2023-04-01,ONE MOTOR VEHICLE - GOING STRAIGHT,CITY STREET,No Data,40,1 - DRY,1305,1 - CLEAR,2023-04-011246,2023-04-01 12:46:00
19477352,Yes,No Data,DENTON,2023-04-01,C - POSSIBLE INJURY,2300,2023-04-01,ONE MOTOR VEHICLE - GOING STRAIGHT,CITY STREET,No Data,30,1 - DRY,2351,1 - CLEAR,2023-04-012300,2023-04-01 23:00:00
19479006,Yes,84501,DENTON,2023-04-01,B - SUSPECTED MINOR INJURY,0005,2023-04-01,SAME DIRECTION - BOTH GOING STRAIGHT-REAR END,INTERSTATE,"4 OR MORE LANES, DIVIDED",70,1 - DRY,0044,1 - CLEAR,2023-04-010005,2023-04-01 00:05:00
19483031,Yes,104418,DENTON,2023-04-01,N - NOT INJURED,1929,2023-04-01,SAME DIRECTION - BOTH GOING STRAIGHT-SIDESWIPE,INTERSTATE,"4 OR MORE LANES, DIVIDED",50,1 - DRY,2021,1 - CLEAR,2023-04-011929,2023-04-01 19:29:00
19487709,Yes,67764,DENTON,2023-04-01,N - NOT INJURED,1454,2023-04-01,SAME DIRECTION - BOTH GOING STRAIGHT-SIDESWIPE,INTERSTATE,"4 OR MORE LANES, DIVIDED",70,1 - DRY,1624,1 - CLEAR,2023-04-011454,2023-04-01 14:54:00
19477450,Yes,No Data,DENTON,2023-04-02,N - NOT INJURED,1933,2023-04-02,SAME DIRECTION - BOTH GOING STRAIGHT-SIDESWIPE,NON TRAFFICWAY,No Data,10,1 - DRY,2111,1 - CLEAR,2023-04-021933,2023-04-02 19:33:00

In [ ]:
dAccidents['Scene Cleared Date Time'] = dAccidents['Date Scene Cleared'] + dAccidents['Time Scene Cleared']

In [ ]:
dAccidents['Scene Cleared Date Time']

Crash ID
19468595    2023-04-011559
19474485    2023-04-011640
19474684    2023-04-012055
19476604    2023-04-011026
19476605    2023-04-011305
                 ...
20318138    2024-07-301830
20323026    2024-07-301349
20313710    2024-07-311205
20313725    2024-07-311700
20316856    2024-07-311827
Name: Scene Cleared Date Time, Length: 3608, dtype: object

In [ ]:
dAccidents['Cleared Time'] = pd.to_datetime(dAccidents['Scene Cleared Date Time'], format='%Y-%m-%d%H%M')

In [ ]:
dAccidents.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3608 entries, 19468595 to 20316856
Data columns (total 18 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   $1000 Damage to Any One Person's Property  3608 non-null   object
 1   Adjusted Average Daily Traffic Amount      3608 non-null   object
 2   City                                       3608 non-null   object
 3   Crash Date                                 3608 non-null   object
 4   Crash Severity                             3608 non-null   object
 5   Crash Time                                 3608 non-null   object
 6   Date Scene Cleared                         3608 non-null   object
 7   Manner of Collision                        3608 non-null   object
 8   Road Class                                 3608 non-null   object
 9   Roadway Type                               3608 non-null   object
 10  Speed Limit                                3608 non-null   object
 11  Surface Condition                          3608 non-null   object
 12  Time Scene Cleared                         3608 non-null   object
 13  Weather Condition                          3608 non-null   object
 14  Crash Date Time                            3608 non-null   object
 15  Accident Time                              3608 non-null   datetime64[ns]
 16  Scene Cleared Date Time                    3608 non-null   object
 17  Cleared Time                               3608 non-null   datetime64[ns]
dtypes: datetime64[ns](2), object(16)
memory usage: 664.6+ KB

In [ ]:
dAccidents['Clearence Time'] = dAccidents['Cleared Time'] - dAccidents['Accident Time']

In [ ]:
dAccidents['Clearence Time']

Crash ID
19468595   0 days 00:00:00
19474485   0 days 00:56:00
19474684   0 days 01:25:00
19476604   0 days 00:38:00
19476605   0 days 00:19:00
                 ...
20318138   0 days 02:00:00
20323026   0 days 00:55:00
20313710   0 days 00:00:00
20313725   0 days 00:27:00
20316856   0 days 00:42:00
Name: Clearence Time, Length: 3608, dtype: timedelta64[ns]

In [ ]:
dAccidents['Clearence Time (Minutes)'] = dAccidents['Clearence Time'].dt.total_seconds()/60

In [ ]:
round(dAccidents['Clearence Time (Minutes)'].mean(),2)

136.9

In [ ]:
# Dropping $1000 Damage to Any One Person's Property
dAccidents.drop("$1000 Damage to Any One Person's Property", axis=1, inplace=True)

In [ ]:
dAccidents['Adjusted Average Daily Traffic Amount'].value_counts()

Adjusted Average Daily Traffic Amount
No Data    1380
83664       221
67764       212
84501       188
27522       139
102698      112
72751        93
54554        65
37438        61
104418       54
68144        54
25998        53
26619        53
14654        50
28643        48
28551        45
99402        45
14763        43
24319        41
27980        39
11207        38
17434        37
54556        35
16882        34
14489        32
11942        31
25546        27
13036        26
7192         23
186          22
7106         20
9537         20
22654        19
70137        19
23604        19
8562         18
7518         17
19497        16
20169        16
38402        16
16835        15
6817         15
7324         13
13950        12
4605         11
6711         11
17124        10
6211         10
10665         7
17738         6
1244          5
7417          5
6658          3
5443          2
2354          1
1058          1
Name: count, dtype: int64

In [ ]:
# Replacing Sentinel Values - No Data
dAccidents['Adjusted Average Daily Traffic Amount'].replace('No Data', np.nan, inplace=True)

<ipython-input-23-188e66878f72>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dAccidents['Adjusted Average Daily Traffic Amount'].replace('No Data', np.nan, inplace=True)

In [ ]:
dAccidents['Adjusted Average Daily Traffic Amount'] = dAccidents['Adjusted Average Daily Traffic Amount'].astype(float)

In [ ]:
dAccidents.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3608 entries, 19468595 to 20316856
Data columns (total 19 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Adjusted Average Daily Traffic Amount  2228 non-null   float64
 1   City                                   3608 non-null   object
 2   Crash Date                             3608 non-null   object
 3   Crash Severity                         3608 non-null   object
 4   Crash Time                             3608 non-null   object
 5   Date Scene Cleared                     3608 non-null   object
 6   Manner of Collision                    3608 non-null   object
 7   Road Class                             3608 non-null   object
 8   Roadway Type                           3608 non-null   object
 9   Speed Limit                            3608 non-null   object
 10  Surface Condition                      3608 non-null   object
 11  Time Scene Cleared                     3608 non-null   object
 12  Weather Condition                      3608 non-null   object
 13  Crash Date Time                        3608 non-null   object
 14  Accident Time                          3608 non-null   datetime64[ns]
 15  Scene Cleared Date Time                3608 non-null   object
 16  Cleared Time                           3608 non-null   datetime64[ns]
 17  Clearence Time                         3608 non-null   timedelta64[ns]
 18  Clearence Time (Minutes)               3608 non-null   float64
dtypes: datetime64[ns](2), float64(2), object(14), timedelta64[ns](1)
memory usage: 692.8+ KB

In [ ]:
dAccidents['Road Class'].unique()

array(['INTERSTATE', 'CITY STREET', 'US & STATE HIGHWAYS',
       'NON TRAFFICWAY', 'FARM TO MARKET', 'OTHER ROADS', 'COUNTY ROAD'],
      dtype=object)

In [ ]:
roadClasses = list(dAccidents['Road Class'].unique())

In [ ]:
#dAccidents[dAccidents['Road Class'] == 'INTERSTATE']['Adjusted Average Daily Traffic Amount'].median()
roadMedianList = []
for road in roadClasses:
  roadMedian = dAccidents[dAccidents['Road Class'] == road]['Adjusted Average Daily Traffic Amount'].astype(float).median()
  roadMedianList.append([road, roadMedian])

In [ ]:
roadMedianList

[['INTERSTATE', 83664.0],
 ['CITY STREET', 14489.0],
 ['US & STATE HIGHWAYS', 25998.0],
 ['NON TRAFFICWAY', nan],
 ['FARM TO MARKET', 8562.0],
 ['OTHER ROADS', nan],
 ['COUNTY ROAD', 8562.0]]

In [ ]:
#dAccidents[(dAccidents['Road Class'] == 'INTERSTATE') & (dAccidents['Adjusted Average Daily Traffic Amount'].isna())]

In [ ]:
for road in roadMedianList:
    dAccidents.loc[(dAccidents['Road Class'] == road[0]) & (dAccidents['Adjusted Average Daily Traffic Amount'].isna()),'Adjusted Average Daily Traffic Amount'] = road[1]

In [ ]:
dAccidents['Adjusted Average Daily Traffic Amount'].isna().value_counts()

Adjusted Average Daily Traffic Amount
False    3353
True      255
Name: count, dtype: int64

In [ ]:
dAccidents['Adjusted Average Daily Traffic Amount'] = dAccidents['Adjusted Average Daily Traffic Amount'].fillna(0)

In [ ]:
round(dAccidents['Adjusted Average Daily Traffic Amount'].mean(),2)

36229.76

In [ ]:
for road in roadClasses:
  c = int(dAccidents['Road Class'][dAccidents['Road Class'] == road].count())
  if c < 10:
    dAccidents.loc[dAccidents['Road Class']== road, 'Road Class'] = 'CITY STREET'

In [ ]:
for road in roadClasses:
  c = int(dAccidents['Road Class'][dAccidents['Road Class'] == road].count())
  print(road,": ",c)

INTERSTATE :  1189
CITY STREET :  1020
US & STATE HIGHWAYS :  861
NON TRAFFICWAY :  254
FARM TO MARKET :  284
OTHER ROADS :  0
COUNTY ROAD :  0

In [ ]:
dAccidents['Speed Limit'].value_counts()

Speed Limit
30    805
70    661
50    459
45    439
35    349
40    307
-1    143
55    116
60     95
25     59
65     46
20     39
75     31
10     21
15     21
5      17
Name: count, dtype: int64

In [ ]:
# Newly Added
dAccidents['Speed Limit'].replace('-1', np.nan, inplace=True)

<ipython-input-38-9e92192d07a9>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dAccidents['Speed Limit'].replace('-1', np.nan, inplace=True)

In [ ]:
dAccidents['Speed Limit'].isna().value_counts()

Speed Limit
False    3465
True      143
Name: count, dtype: int64

In [ ]:
roadSpeedMedianList = []
for road in roadClasses:
  speedMedian = dAccidents[dAccidents['Road Class'] == road]['Speed Limit'].astype(float).median()
  roadSpeedMedianList.append([road, speedMedian])

In [ ]:
roadSpeedMedianList

[['INTERSTATE', 70.0],
 ['CITY STREET', 30.0],
 ['US & STATE HIGHWAYS', 45.0],
 ['NON TRAFFICWAY', 30.0],
 ['FARM TO MARKET', 45.0],
 ['OTHER ROADS', nan],
 ['COUNTY ROAD', nan]]

In [ ]:
dAccidents['Speed Limit'] = dAccidents['Speed Limit'].astype(float)

In [ ]:
for road in roadSpeedMedianList:
    dAccidents.loc[(dAccidents['Road Class'] == road[0]) & (dAccidents['Speed Limit'].isna()),'Speed Limit'] = road[1]

In [ ]:
dAccidents['Speed Limit'].value_counts()

Speed Limit
30.0    944
70.0    663
50.0    459
45.0    441
35.0    349
40.0    307
55.0    116
60.0     95
25.0     59
65.0     46
20.0     39
75.0     31
10.0     21
15.0     21
5.0      17
Name: count, dtype: int64

In [ ]:
# Converting String to int for Speed Limit to Calculate Mean
meanSpeedLimit = dAccidents['Speed Limit'].astype(int).mean()
round(meanSpeedLimit,2)

44.98

In [ ]:
dRoadType = pd.get_dummies(dAccidents['Road Class'], prefix="RoadClass")
dRoadType.columns

Index(['RoadClass_CITY STREET', 'RoadClass_FARM TO MARKET',
       'RoadClass_INTERSTATE', 'RoadClass_NON TRAFFICWAY',
       'RoadClass_US & STATE HIGHWAYS'],
      dtype='object')

In [ ]:
dAccidents[dRoadType.columns] = dRoadType
dAccidents.head()

,Adjusted Average Daily Traffic Amount,City,Crash Date,Crash Severity,Crash Time,Date Scene Cleared,Manner of Collision,Road Class,Roadway Type,Speed Limit,...,Accident Time,Scene Cleared Date Time,Cleared Time,Clearence Time,Clearence Time (Minutes),RoadClass_CITY STREET,RoadClass_FARM TO MARKET,RoadClass_INTERSTATE,RoadClass_NON TRAFFICWAY,RoadClass_US & STATE HIGHWAYS
Crash ID,,,,,,,,,,,,,,,,,,,,,
19468595,83664.0,DENTON,2023-04-01,N - NOT INJURED,1559,2023-04-01,SAME DIRECTION - BOTH GOING STRAIGHT-SIDESWIPE,INTERSTATE,"4 OR MORE LANES, DIVIDED",50.0,...,2023-04-01 15:59:00,2023-04-011559,2023-04-01 15:59:00,0 days 00:00:00,0.0,False,False,True,False,False
19474485,70137.0,DENTON,2023-04-01,N - NOT INJURED,1544,2023-04-01,SAME DIRECTION - BOTH GOING STRAIGHT-SIDESWIPE,INTERSTATE,"4 OR MORE LANES, DIVIDED",70.0,...,2023-04-01 15:44:00,2023-04-011640,2023-04-01 16:40:00,0 days 00:56:00,56.0,False,False,True,False,False
19474684,14489.0,DENTON,2023-04-01,N - NOT INJURED,1930,2023-04-01,ONE MOTOR VEHICLE - GOING STRAIGHT,CITY STREET,No Data,30.0,...,2023-04-01 19:30:00,2023-04-012055,2023-04-01 20:55:00,0 days 01:25:00,85.0,True,False,False,False,False
19476604,27522.0,DENTON,2023-04-01,N - NOT INJURED,0948,2023-04-01,ANGLE - ONE STRAIGHT-ONE RIGHT TURN,US & STATE HIGHWAYS,"4 OR MORE LANES, DIVIDED",50.0,...,2023-04-01 09:48:00,2023-04-011026,2023-04-01 10:26:00,0 days 00:38:00,38.0,False,False,False,False,True
19476605,14489.0,DENTON,2023-04-01,C - POSSIBLE INJURY,1246,2023-04-01,ONE MOTOR VEHICLE - GOING STRAIGHT,CITY STREET,No Data,40.0,...,2023-04-01 12:46:00,2023-04-011305,2023-04-01 13:05:00,0 days 00:19:00,19.0,True,False,False,False,False

In [ ]:
dAccidents.drop('Road Class', axis=1, inplace=True)
dAccidents.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3608 entries, 19468595 to 20316856
Data columns (total 23 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Adjusted Average Daily Traffic Amount  3608 non-null   float64
 1   City                                   3608 non-null   object
 2   Crash Date                             3608 non-null   object
 3   Crash Severity                         3608 non-null   object
 4   Crash Time                             3608 non-null   object
 5   Date Scene Cleared                     3608 non-null   object
 6   Manner of Collision                    3608 non-null   object
 7   Roadway Type                           3608 non-null   object
 8   Speed Limit                            3608 non-null   float64
 9   Surface Condition                      3608 non-null   object
 10  Time Scene Cleared                     3608 non-null   object
 11  Weather Condition                      3608 non-null   object
 12  Crash Date Time                        3608 non-null   object
 13  Accident Time                          3608 non-null   datetime64[ns]
 14  Scene Cleared Date Time                3608 non-null   object
 15  Cleared Time                           3608 non-null   datetime64[ns]
 16  Clearence Time                         3608 non-null   timedelta64[ns]
 17  Clearence Time (Minutes)               3608 non-null   float64
 18  RoadClass_CITY STREET                  3608 non-null   bool
 19  RoadClass_FARM TO MARKET               3608 non-null   bool
 20  RoadClass_INTERSTATE                   3608 non-null   bool
 21  RoadClass_NON TRAFFICWAY               3608 non-null   bool
 22  RoadClass_US & STATE HIGHWAYS          3608 non-null   bool
dtypes: bool(5), datetime64[ns](2), float64(3), object(12), timedelta64[ns](1)
memory usage: 682.2+ KB

In [ ]:
dAccidents['Roadway Type'].value_counts()

Roadway Type
4 OR MORE LANES, DIVIDED      1776
No Data                       1379
4 OR MORE LANES, UNDIVIDED     267
2 LANE, 2 WAY                  186
Name: count, dtype: int64

In [ ]:
dAccidents.loc[(dAccidents['Roadway Type'] == "No Data"), 'Roadway Type'] = "OTHER"

In [ ]:
dAccidents['Roadway Type'].value_counts()

Roadway Type
4 OR MORE LANES, DIVIDED      1776
OTHER                         1379
4 OR MORE LANES, UNDIVIDED     267
2 LANE, 2 WAY                  186
Name: count, dtype: int64

In [ ]:
dRoadway = pd.get_dummies(dAccidents['Roadway Type'], prefix="Roadway")
dRoadway.columns

Index(['Roadway_2 LANE, 2 WAY', 'Roadway_4 OR MORE LANES, DIVIDED',
       'Roadway_4 OR MORE LANES, UNDIVIDED', 'Roadway_OTHER'],
      dtype='object')

In [ ]:
dAccidents[dRoadway.columns] = dRoadway
dAccidents.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3608 entries, 19468595 to 20316856
Data columns (total 27 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Adjusted Average Daily Traffic Amount  3608 non-null   float64
 1   City                                   3608 non-null   object
 2   Crash Date                             3608 non-null   object
 3   Crash Severity                         3608 non-null   object
 4   Crash Time                             3608 non-null   object
 5   Date Scene Cleared                     3608 non-null   object
 6   Manner of Collision                    3608 non-null   object
 7   Roadway Type                           3608 non-null   object
 8   Speed Limit                            3608 non-null   float64
 9   Surface Condition                      3608 non-null   object
 10  Time Scene Cleared                     3608 non-null   object
 11  Weather Condition                      3608 non-null   object
 12  Crash Date Time                        3608 non-null   object
 13  Accident Time                          3608 non-null   datetime64[ns]
 14  Scene Cleared Date Time                3608 non-null   object
 15  Cleared Time                           3608 non-null   datetime64[ns]
 16  Clearence Time                         3608 non-null   timedelta64[ns]
 17  Clearence Time (Minutes)               3608 non-null   float64
 18  RoadClass_CITY STREET                  3608 non-null   bool
 19  RoadClass_FARM TO MARKET               3608 non-null   bool
 20  RoadClass_INTERSTATE                   3608 non-null   bool
 21  RoadClass_NON TRAFFICWAY               3608 non-null   bool
 22  RoadClass_US & STATE HIGHWAYS          3608 non-null   bool
 23  Roadway_2 LANE, 2 WAY                  3608 non-null   bool
 24  Roadway_4 OR MORE LANES, DIVIDED       3608 non-null   bool
 25  Roadway_4 OR MORE LANES, UNDIVIDED     3608 non-null   bool
 26  Roadway_OTHER                          3608 non-null   bool
dtypes: bool(9), datetime64[ns](2), float64(3), object(12), timedelta64[ns](1)
memory usage: 696.3+ KB

In [ ]:
dAccidents.drop('Roadway Type', axis=1, inplace=True)
dAccidents.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3608 entries, 19468595 to 20316856
Data columns (total 26 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Adjusted Average Daily Traffic Amount  3608 non-null   float64
 1   City                                   3608 non-null   object
 2   Crash Date                             3608 non-null   object
 3   Crash Severity                         3608 non-null   object
 4   Crash Time                             3608 non-null   object
 5   Date Scene Cleared                     3608 non-null   object
 6   Manner of Collision                    3608 non-null   object
 7   Speed Limit                            3608 non-null   float64
 8   Surface Condition                      3608 non-null   object
 9   Time Scene Cleared                     3608 non-null   object
 10  Weather Condition                      3608 non-null   object
 11  Crash Date Time                        3608 non-null   object
 12  Accident Time                          3608 non-null   datetime64[ns]
 13  Scene Cleared Date Time                3608 non-null   object
 14  Cleared Time                           3608 non-null   datetime64[ns]
 15  Clearence Time                         3608 non-null   timedelta64[ns]
 16  Clearence Time (Minutes)               3608 non-null   float64
 17  RoadClass_CITY STREET                  3608 non-null   bool
 18  RoadClass_FARM TO MARKET               3608 non-null   bool
 19  RoadClass_INTERSTATE                   3608 non-null   bool
 20  RoadClass_NON TRAFFICWAY               3608 non-null   bool
 21  RoadClass_US & STATE HIGHWAYS          3608 non-null   bool
 22  Roadway_2 LANE, 2 WAY                  3608 non-null   bool
 23  Roadway_4 OR MORE LANES, DIVIDED       3608 non-null   bool
 24  Roadway_4 OR MORE LANES, UNDIVIDED     3608 non-null   bool
 25  Roadway_OTHER                          3608 non-null   bool
dtypes: bool(9), datetime64[ns](2), float64(3), object(11), timedelta64[ns](1)
memory usage: 668.1+ KB

In [ ]:
dAccidents.drop('City', axis=1, inplace=True)

In [ ]:
dAccidents.columns

Index(['Adjusted Average Daily Traffic Amount', 'Crash Date', 'Crash Severity',
       'Crash Time', 'Date Scene Cleared', 'Manner of Collision',
       'Speed Limit', 'Surface Condition', 'Time Scene Cleared',
       'Weather Condition', 'Crash Date Time', 'Accident Time',
       'Scene Cleared Date Time', 'Cleared Time', 'Clearence Time',
       'Clearence Time (Minutes)', 'RoadClass_CITY STREET',
       'RoadClass_FARM TO MARKET', 'RoadClass_INTERSTATE',
       'RoadClass_NON TRAFFICWAY', 'RoadClass_US & STATE HIGHWAYS',
       'Roadway_2 LANE, 2 WAY', 'Roadway_4 OR MORE LANES, DIVIDED',
       'Roadway_4 OR MORE LANES, UNDIVIDED', 'Roadway_OTHER'],
      dtype='object')

In [ ]:
dAccidents['Crash Severity'].value_counts()

Crash Severity
N - NOT INJURED                 2400
B - SUSPECTED MINOR INJURY       487
C - POSSIBLE INJURY              434
99 - UNKNOWN                     198
A - SUSPECTED SERIOUS INJURY      72
K - FATAL INJURY                  17
Name: count, dtype: int64

In [ ]:
dAccidents['Crash Severity'] = dAccidents['Crash Severity'].map({'K - FATAL INJURY': 5,'A - SUSPECTED SERIOUS INJURY': 4,'C - POSSIBLE INJURY': 3,'B - SUSPECTED MINOR INJURY': 2,'99 - UNKNOWN': 1,'N - NOT INJURED': 0})

In [ ]:
dAccidents['Crash Severity'].value_counts()

Crash Severity
0    2400
2     487
3     434
1     198
4      72
5      17
Name: count, dtype: int64

In [ ]:
dAccidents['Manner of Collision'].value_counts()

Manner of Collision
ONE MOTOR VEHICLE - GOING STRAIGHT                            556
SAME DIRECTION - BOTH GOING STRAIGHT-SIDESWIPE                476
SAME DIRECTION - ONE STRAIGHT-ONE STOPPED                     451
ANGLE - BOTH GOING STRAIGHT                                   429
SAME DIRECTION - BOTH GOING STRAIGHT-REAR END                 425
OPPOSITE DIRECTION - ONE STRAIGHT-ONE LEFT TURN               346
ANGLE - ONE STRAIGHT-ONE LEFT TURN                            234
ANGLE - ONE STRAIGHT-ONE RIGHT TURN                           108
SAME DIRECTION - ONE STRAIGHT-ONE LEFT TURN                    97
ONE MOTOR VEHICLE - OTHER                                      70
SAME DIRECTION - ONE STRAIGHT-ONE RIGHT TURN                   65
ONE MOTOR VEHICLE - BACKING                                    64
ONE MOTOR VEHICLE - TURNING RIGHT                              56
ONE MOTOR VEHICLE - TURNING LEFT                               55
SAME DIRECTION - BOTH LEFT TURN                                28
OPPOSITE DIRECTION - BOTH GOING STRAIGHT                       26
SAME DIRECTION - BOTH RIGHT TURN                               19
OTHER - ONE STRAIGHT-ONE ENTERING OR LEAVING PARKING SPACE     13
ANGLE - ONE LEFT TURN-ONE STOPPED                              11
OPPOSITE DIRECTION - ONE BACKING-ONE STOPPED                   11
ANGLE - ONE STRAIGHT-ONE BACKING                               10
OPPOSITE DIRECTION - ONE RIGHT TURN-ONE LEFT TURN              10
OTHER                                                          10
SAME DIRECTION - ONE RIGHT TURN-ONE STOPPED                     6
OPPOSITE DIRECTION - ONE STRAIGHT-ONE BACKING                   6
ANGLE - ONE RIGHT TURN-ONE STOPPED                              5
ANGLE - ONE RIGHT TURN-ONE LEFT TURN                            4
ANGLE - BOTH LEFT TURN                                          4
ANGLE - ONE STRAIGHT-ONE STOPPED                                3
OPPOSITE DIRECTION - ONE STRAIGHT-ONE STOPPED                   2
OTHER - BOTH BACKING                                            2
OPPOSITE DIRECTION - ONE LEFT TURN-ONE STOPPED                  2
OTHER - ONE ENTERING OR LEAVING PARKING SPACE-ONE STOPPED       1
OPPOSITE DIRECTION - ONE STRAIGHT-ONE RIGHT TURN                1
OPPOSITE DIRECTION - BOTH LEFT TURNS                            1
OTHER - BOTH ENTERING OR LEAVING A PARKING SPACE                1
Name: count, dtype: int64

In [ ]:
dAccidents['Manner of Collision'] = dAccidents['Manner of Collision'].str.split('-').str[0].str.strip()

In [ ]:
dAccidents['Manner of Collision'].unique()

array(['SAME DIRECTION', 'ONE MOTOR VEHICLE', 'ANGLE',
       'OPPOSITE DIRECTION', 'OTHER'], dtype=object)

In [ ]:
dCollisons = pd.get_dummies(dAccidents['Manner of Collision'], prefix="Collision")
dCollisons.columns

Index(['Collision_ANGLE', 'Collision_ONE MOTOR VEHICLE',
       'Collision_OPPOSITE DIRECTION', 'Collision_OTHER',
       'Collision_SAME DIRECTION'],
      dtype='object')

In [ ]:
dAccidents[dCollisons.columns] = dCollisons

In [ ]:
dAccidents.drop('Manner of Collision', axis=1, inplace=True)
dAccidents.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3608 entries, 19468595 to 20316856
Data columns (total 29 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Adjusted Average Daily Traffic Amount  3608 non-null   float64
 1   Crash Date                             3608 non-null   object
 2   Crash Severity                         3608 non-null   int64
 3   Crash Time                             3608 non-null   object
 4   Date Scene Cleared                     3608 non-null   object
 5   Speed Limit                            3608 non-null   float64
 6   Surface Condition                      3608 non-null   object
 7   Time Scene Cleared                     3608 non-null   object
 8   Weather Condition                      3608 non-null   object
 9   Crash Date Time                        3608 non-null   object
 10  Accident Time                          3608 non-null   datetime64[ns]
 11  Scene Cleared Date Time                3608 non-null   object
 12  Cleared Time                           3608 non-null   datetime64[ns]
 13  Clearence Time                         3608 non-null   timedelta64[ns]
 14  Clearence Time (Minutes)               3608 non-null   float64
 15  RoadClass_CITY STREET                  3608 non-null   bool
 16  RoadClass_FARM TO MARKET               3608 non-null   bool
 17  RoadClass_INTERSTATE                   3608 non-null   bool
 18  RoadClass_NON TRAFFICWAY               3608 non-null   bool
 19  RoadClass_US & STATE HIGHWAYS          3608 non-null   bool
 20  Roadway_2 LANE, 2 WAY                  3608 non-null   bool
 21  Roadway_4 OR MORE LANES, DIVIDED       3608 non-null   bool
 22  Roadway_4 OR MORE LANES, UNDIVIDED     3608 non-null   bool
 23  Roadway_OTHER                          3608 non-null   bool
 24  Collision_ANGLE                        3608 non-null   bool
 25  Collision_ONE MOTOR VEHICLE            3608 non-null   bool
 26  Collision_OPPOSITE DIRECTION           3608 non-null   bool
 27  Collision_OTHER                        3608 non-null   bool
 28  Collision_SAME DIRECTION               3608 non-null   bool
dtypes: bool(14), datetime64[ns](2), float64(3), int64(1), object(8), timedelta64[ns](1)
memory usage: 629.4+ KB

In [ ]:
dAccidents['Day of Week'] = pd.to_datetime(dAccidents['Crash Date'], format="%Y-%m-%d").dt.day_of_week

In [ ]:
dAccidents['Day of Week'].value_counts()

Day of Week
4    616
1    548
2    541
3    539
0    527
5    458
6    379
Name: count, dtype: int64

In [ ]:
dAccidents['Day of Week'] = pd.to_datetime(dAccidents['Crash Date'], format="%Y-%m-%d").dt.day_name()

In [ ]:
dAccidents['Day of Week'].value_counts()

Day of Week
Friday       616
Tuesday      548
Wednesday    541
Thursday     539
Monday       527
Saturday     458
Sunday       379
Name: count, dtype: int64

In [ ]:
WeekDay = pd.get_dummies(dAccidents['Day of Week'])
WeekDay.columns

Index(['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday',
       'Wednesday'],
      dtype='object')

In [ ]:
dAccidents[WeekDay.columns] = WeekDay
dAccidents.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3608 entries, 19468595 to 20316856
Data columns (total 37 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Adjusted Average Daily Traffic Amount  3608 non-null   float64
 1   Crash Date                             3608 non-null   object
 2   Crash Severity                         3608 non-null   int64
 3   Crash Time                             3608 non-null   object
 4   Date Scene Cleared                     3608 non-null   object
 5   Speed Limit                            3608 non-null   float64
 6   Surface Condition                      3608 non-null   object
 7   Time Scene Cleared                     3608 non-null   object
 8   Weather Condition                      3608 non-null   object
 9   Crash Date Time                        3608 non-null   object
 10  Accident Time                          3608 non-null   datetime64[ns]
 11  Scene Cleared Date Time                3608 non-null   object
 12  Cleared Time                           3608 non-null   datetime64[ns]
 13  Clearence Time                         3608 non-null   timedelta64[ns]
 14  Clearence Time (Minutes)               3608 non-null   float64
 15  RoadClass_CITY STREET                  3608 non-null   bool
 16  RoadClass_FARM TO MARKET               3608 non-null   bool
 17  RoadClass_INTERSTATE                   3608 non-null   bool
 18  RoadClass_NON TRAFFICWAY               3608 non-null   bool
 19  RoadClass_US & STATE HIGHWAYS          3608 non-null   bool
 20  Roadway_2 LANE, 2 WAY                  3608 non-null   bool
 21  Roadway_4 OR MORE LANES, DIVIDED       3608 non-null   bool
 22  Roadway_4 OR MORE LANES, UNDIVIDED     3608 non-null   bool
 23  Roadway_OTHER                          3608 non-null   bool
 24  Collision_ANGLE                        3608 non-null   bool
 25  Collision_ONE MOTOR VEHICLE            3608 non-null   bool
 26  Collision_OPPOSITE DIRECTION           3608 non-null   bool
 27  Collision_OTHER                        3608 non-null   bool
 28  Collision_SAME DIRECTION               3608 non-null   bool
 29  Day of Week                            3608 non-null   object
 30  Friday                                 3608 non-null   bool
 31  Monday                                 3608 non-null   bool
 32  Saturday                               3608 non-null   bool
 33  Sunday                                 3608 non-null   bool
 34  Thursday                               3608 non-null   bool
 35  Tuesday                                3608 non-null   bool
 36  Wednesday                              3608 non-null   bool
dtypes: bool(21), datetime64[ns](2), float64(3), int64(1), object(9), timedelta64[ns](1)
memory usage: 682.2+ KB

In [ ]:
MorningRush = [pd.to_datetime('0700', format="%H%M").time(), pd.to_datetime('0900', format="%H%M").time()]
EveningRush = [pd.to_datetime('1600', format="%H%M").time(), pd.to_datetime('1800', format="%H%M").time()]

In [ ]:
dAccidents['CTime'] = pd.to_datetime(dAccidents['Crash Time'], format="%H%M").dt.time

In [ ]:
dAccidents['Time of Day'] = "Other"

In [ ]:
dAccidents['Time of Day'].value_counts()

Time of Day
Other    3608
Name: count, dtype: int64

In [ ]:
dAccidents.loc[(dAccidents['CTime'] >= MorningRush[0]) & (dAccidents['CTime'] <= MorningRush[1]), 'Time of Day'] = "Morning Rush Hour"

In [ ]:
dAccidents.loc[(dAccidents['CTime'] >= EveningRush[0]) & (dAccidents['CTime'] <= EveningRush[1]), 'Time of Day'] = "Evening Rush Hour"

In [ ]:
dAccidents['Time of Day'].value_counts()

Time of Day
Other                2609
Evening Rush Hour     652
Morning Rush Hour     347
Name: count, dtype: int64

In [ ]:
dAccidents.drop('CTime', axis=1, inplace=True)

In [ ]:
dAccidents.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3608 entries, 19468595 to 20316856
Data columns (total 38 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Adjusted Average Daily Traffic Amount  3608 non-null   float64
 1   Crash Date                             3608 non-null   object
 2   Crash Severity                         3608 non-null   int64
 3   Crash Time                             3608 non-null   object
 4   Date Scene Cleared                     3608 non-null   object
 5   Speed Limit                            3608 non-null   float64
 6   Surface Condition                      3608 non-null   object
 7   Time Scene Cleared                     3608 non-null   object
 8   Weather Condition                      3608 non-null   object
 9   Crash Date Time                        3608 non-null   object
 10  Accident Time                          3608 non-null   datetime64[ns]
 11  Scene Cleared Date Time                3608 non-null   object
 12  Cleared Time                           3608 non-null   datetime64[ns]
 13  Clearence Time                         3608 non-null   timedelta64[ns]
 14  Clearence Time (Minutes)               3608 non-null   float64
 15  RoadClass_CITY STREET                  3608 non-null   bool
 16  RoadClass_FARM TO MARKET               3608 non-null   bool
 17  RoadClass_INTERSTATE                   3608 non-null   bool
 18  RoadClass_NON TRAFFICWAY               3608 non-null   bool
 19  RoadClass_US & STATE HIGHWAYS          3608 non-null   bool
 20  Roadway_2 LANE, 2 WAY                  3608 non-null   bool
 21  Roadway_4 OR MORE LANES, DIVIDED       3608 non-null   bool
 22  Roadway_4 OR MORE LANES, UNDIVIDED     3608 non-null   bool
 23  Roadway_OTHER                          3608 non-null   bool
 24  Collision_ANGLE                        3608 non-null   bool
 25  Collision_ONE MOTOR VEHICLE            3608 non-null   bool
 26  Collision_OPPOSITE DIRECTION           3608 non-null   bool
 27  Collision_OTHER                        3608 non-null   bool
 28  Collision_SAME DIRECTION               3608 non-null   bool
 29  Day of Week                            3608 non-null   object
 30  Friday                                 3608 non-null   bool
 31  Monday                                 3608 non-null   bool
 32  Saturday                               3608 non-null   bool
 33  Sunday                                 3608 non-null   bool
 34  Thursday                               3608 non-null   bool
 35  Tuesday                                3608 non-null   bool
 36  Wednesday                              3608 non-null   bool
 37  Time of Day                            3608 non-null   object
dtypes: bool(21), datetime64[ns](2), float64(3), int64(1), object(10), timedelta64[ns](1)
memory usage: 710.4+ KB

In [ ]:
timeDay = pd.get_dummies(dAccidents['Time of Day'], prefix='TimeOfDay')
timeDay.columns

Index(['TimeOfDay_Evening Rush Hour', 'TimeOfDay_Morning Rush Hour',
       'TimeOfDay_Other'],
      dtype='object')

In [ ]:
dAccidents[timeDay.columns] = timeDay
dAccidents.drop('Time of Day', axis=1, inplace=True)
dAccidents.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3608 entries, 19468595 to 20316856
Data columns (total 40 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Adjusted Average Daily Traffic Amount  3608 non-null   float64
 1   Crash Date                             3608 non-null   object
 2   Crash Severity                         3608 non-null   int64
 3   Crash Time                             3608 non-null   object
 4   Date Scene Cleared                     3608 non-null   object
 5   Speed Limit                            3608 non-null   float64
 6   Surface Condition                      3608 non-null   object
 7   Time Scene Cleared                     3608 non-null   object
 8   Weather Condition                      3608 non-null   object
 9   Crash Date Time                        3608 non-null   object
 10  Accident Time                          3608 non-null   datetime64[ns]
 11  Scene Cleared Date Time                3608 non-null   object
 12  Cleared Time                           3608 non-null   datetime64[ns]
 13  Clearence Time                         3608 non-null   timedelta64[ns]
 14  Clearence Time (Minutes)               3608 non-null   float64
 15  RoadClass_CITY STREET                  3608 non-null   bool
 16  RoadClass_FARM TO MARKET               3608 non-null   bool
 17  RoadClass_INTERSTATE                   3608 non-null   bool
 18  RoadClass_NON TRAFFICWAY               3608 non-null   bool
 19  RoadClass_US & STATE HIGHWAYS          3608 non-null   bool
 20  Roadway_2 LANE, 2 WAY                  3608 non-null   bool
 21  Roadway_4 OR MORE LANES, DIVIDED       3608 non-null   bool
 22  Roadway_4 OR MORE LANES, UNDIVIDED     3608 non-null   bool
 23  Roadway_OTHER                          3608 non-null   bool
 24  Collision_ANGLE                        3608 non-null   bool
 25  Collision_ONE MOTOR VEHICLE            3608 non-null   bool
 26  Collision_OPPOSITE DIRECTION           3608 non-null   bool
 27  Collision_OTHER                        3608 non-null   bool
 28  Collision_SAME DIRECTION               3608 non-null   bool
 29  Day of Week                            3608 non-null   object
 30  Friday                                 3608 non-null   bool
 31  Monday                                 3608 non-null   bool
 32  Saturday                               3608 non-null   bool
 33  Sunday                                 3608 non-null   bool
 34  Thursday                               3608 non-null   bool
 35  Tuesday                                3608 non-null   bool
 36  Wednesday                              3608 non-null   bool
 37  TimeOfDay_Evening Rush Hour            3608 non-null   bool
 38  TimeOfDay_Morning Rush Hour            3608 non-null   bool
 39  TimeOfDay_Other                        3608 non-null   bool
dtypes: bool(24), datetime64[ns](2), float64(3), int64(1), object(9), timedelta64[ns](1)
memory usage: 692.8+ KB

In [ ]:
dAccidents.drop('Day of Week', axis=1, inplace=True)

In [ ]:
surfaceConditions = list(dAccidents['Surface Condition'].unique())

In [ ]:
for surface in surfaceConditions:
  c = int(dAccidents['Surface Condition'][dAccidents['Surface Condition'] == surface].count())
  if c < 50:
    dAccidents.loc[(dAccidents['Surface Condition'] == surface), 'Surface Condition'] = "0 - OTHER"

In [ ]:
surfaceConditions.append("0 - OTHER")
for surface in surfaceConditions:
  c = int(dAccidents['Surface Condition'][dAccidents['Surface Condition'] == surface].count())
  print(surface,": ",c)

1 - DRY :  3174
2 - WET :  381
99 - UNKNOWN :  0
98 - OTHER (EXPLAIN IN NARRATIVE) :  0
3 - STANDING WATER :  0
7 - SAND, MUD, DIRT :  0
4 - SNOW :  0
6 - ICE :  0
0 - OTHER :  53

In [ ]:
dAccidents['Surface Condition'].value_counts()

Surface Condition
1 - DRY      3174
2 - WET       381
0 - OTHER      53
Name: count, dtype: int64

In [ ]:
dAccidents['Surface Condition'] = dAccidents['Surface Condition'].str.split('-').str[1].str.strip()

In [ ]:
dAccidents['Surface Condition'].value_counts()

Surface Condition
DRY      3174
WET       381
OTHER      53
Name: count, dtype: int64

In [ ]:
surfaceC = pd.get_dummies(dAccidents['Surface Condition'], prefix='SurfaceCondition')
surfaceC.columns

Index(['SurfaceCondition_DRY', 'SurfaceCondition_OTHER',
       'SurfaceCondition_WET'],
      dtype='object')

In [ ]:
dAccidents[surfaceC.columns] = surfaceC
dAccidents.drop('Surface Condition', axis=1, inplace=True)
dAccidents.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3608 entries, 19468595 to 20316856
Data columns (total 41 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Adjusted Average Daily Traffic Amount  3608 non-null   float64
 1   Crash Date                             3608 non-null   object
 2   Crash Severity                         3608 non-null   int64
 3   Crash Time                             3608 non-null   object
 4   Date Scene Cleared                     3608 non-null   object
 5   Speed Limit                            3608 non-null   float64
 6   Time Scene Cleared                     3608 non-null   object
 7   Weather Condition                      3608 non-null   object
 8   Crash Date Time                        3608 non-null   object
 9   Accident Time                          3608 non-null   datetime64[ns]
 10  Scene Cleared Date Time                3608 non-null   object
 11  Cleared Time                           3608 non-null   datetime64[ns]
 12  Clearence Time                         3608 non-null   timedelta64[ns]
 13  Clearence Time (Minutes)               3608 non-null   float64
 14  RoadClass_CITY STREET                  3608 non-null   bool
 15  RoadClass_FARM TO MARKET               3608 non-null   bool
 16  RoadClass_INTERSTATE                   3608 non-null   bool
 17  RoadClass_NON TRAFFICWAY               3608 non-null   bool
 18  RoadClass_US & STATE HIGHWAYS          3608 non-null   bool
 19  Roadway_2 LANE, 2 WAY                  3608 non-null   bool
 20  Roadway_4 OR MORE LANES, DIVIDED       3608 non-null   bool
 21  Roadway_4 OR MORE LANES, UNDIVIDED     3608 non-null   bool
 22  Roadway_OTHER                          3608 non-null   bool
 23  Collision_ANGLE                        3608 non-null   bool
 24  Collision_ONE MOTOR VEHICLE            3608 non-null   bool
 25  Collision_OPPOSITE DIRECTION           3608 non-null   bool
 26  Collision_OTHER                        3608 non-null   bool
 27  Collision_SAME DIRECTION               3608 non-null   bool
 28  Friday                                 3608 non-null   bool
 29  Monday                                 3608 non-null   bool
 30  Saturday                               3608 non-null   bool
 31  Sunday                                 3608 non-null   bool
 32  Thursday                               3608 non-null   bool
 33  Tuesday                                3608 non-null   bool
 34  Wednesday                              3608 non-null   bool
 35  TimeOfDay_Evening Rush Hour            3608 non-null   bool
 36  TimeOfDay_Morning Rush Hour            3608 non-null   bool
 37  TimeOfDay_Other                        3608 non-null   bool
 38  SurfaceCondition_DRY                   3608 non-null   bool
 39  SurfaceCondition_OTHER                 3608 non-null   bool
 40  SurfaceCondition_WET                   3608 non-null   bool
dtypes: bool(27), datetime64[ns](2), float64(3), int64(1), object(7), timedelta64[ns](1)
memory usage: 647.0+ KB

In [ ]:
weatherConditions = list(dAccidents['Weather Condition'].unique())

In [ ]:
for weather in weatherConditions:
  c = int(dAccidents['Weather Condition'][dAccidents['Weather Condition'] == weather].count())
  if c < 50:
    dAccidents.loc[(dAccidents['Weather Condition'] == weather), 'Weather Condition'] = "0 - OTHER"

In [ ]:
weatherConditions.append("0 - OTHER")
for weather in weatherConditions:
  c = int(dAccidents['Weather Condition'][dAccidents['Weather Condition'] == weather].count())
  print(weather,": ",c)

1 - CLEAR :  2879
3 - RAIN :  278
2 - CLOUDY :  400
99 - UNKNOWN :  0
4 - SLEET/HAIL :  0
5 - SNOW :  0
6 - FOG :  0
98 - OTHER (EXPLAIN IN NARRATIVE) :  0
0 - OTHER :  51

In [ ]:
dAccidents['Weather Condition'] = dAccidents['Weather Condition'].str.split('-').str[1].str.strip()

In [ ]:
dAccidents['Weather Condition'].value_counts()

Weather Condition
CLEAR     2879
CLOUDY     400
RAIN       278
OTHER       51
Name: count, dtype: int64

In [ ]:
weatherC = pd.get_dummies(dAccidents['Weather Condition'], prefix="WeatherCondition")
weatherC.columns

Index(['WeatherCondition_CLEAR', 'WeatherCondition_CLOUDY',
       'WeatherCondition_OTHER', 'WeatherCondition_RAIN'],
      dtype='object')

In [ ]:
dAccidents[weatherC.columns] = weatherC
dAccidents.drop('Weather Condition', axis=1, inplace=True)
dAccidents.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3608 entries, 19468595 to 20316856
Data columns (total 44 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Adjusted Average Daily Traffic Amount  3608 non-null   float64
 1   Crash Date                             3608 non-null   object
 2   Crash Severity                         3608 non-null   int64
 3   Crash Time                             3608 non-null   object
 4   Date Scene Cleared                     3608 non-null   object
 5   Speed Limit                            3608 non-null   float64
 6   Time Scene Cleared                     3608 non-null   object
 7   Crash Date Time                        3608 non-null   object
 8   Accident Time                          3608 non-null   datetime64[ns]
 9   Scene Cleared Date Time                3608 non-null   object
 10  Cleared Time                           3608 non-null   datetime64[ns]
 11  Clearence Time                         3608 non-null   timedelta64[ns]
 12  Clearence Time (Minutes)               3608 non-null   float64
 13  RoadClass_CITY STREET                  3608 non-null   bool
 14  RoadClass_FARM TO MARKET               3608 non-null   bool
 15  RoadClass_INTERSTATE                   3608 non-null   bool
 16  RoadClass_NON TRAFFICWAY               3608 non-null   bool
 17  RoadClass_US & STATE HIGHWAYS          3608 non-null   bool
 18  Roadway_2 LANE, 2 WAY                  3608 non-null   bool
 19  Roadway_4 OR MORE LANES, DIVIDED       3608 non-null   bool
 20  Roadway_4 OR MORE LANES, UNDIVIDED     3608 non-null   bool
 21  Roadway_OTHER                          3608 non-null   bool
 22  Collision_ANGLE                        3608 non-null   bool
 23  Collision_ONE MOTOR VEHICLE            3608 non-null   bool
 24  Collision_OPPOSITE DIRECTION           3608 non-null   bool
 25  Collision_OTHER                        3608 non-null   bool
 26  Collision_SAME DIRECTION               3608 non-null   bool
 27  Friday                                 3608 non-null   bool
 28  Monday                                 3608 non-null   bool
 29  Saturday                               3608 non-null   bool
 30  Sunday                                 3608 non-null   bool
 31  Thursday                               3608 non-null   bool
 32  Tuesday                                3608 non-null   bool
 33  Wednesday                              3608 non-null   bool
 34  TimeOfDay_Evening Rush Hour            3608 non-null   bool
 35  TimeOfDay_Morning Rush Hour            3608 non-null   bool
 36  TimeOfDay_Other                        3608 non-null   bool
 37  SurfaceCondition_DRY                   3608 non-null   bool
 38  SurfaceCondition_OTHER                 3608 non-null   bool
 39  SurfaceCondition_WET                   3608 non-null   bool
 40  WeatherCondition_CLEAR                 3608 non-null   bool
 41  WeatherCondition_CLOUDY                3608 non-null   bool
 42  WeatherCondition_OTHER                 3608 non-null   bool
 43  WeatherCondition_RAIN                  3608 non-null   bool
dtypes: bool(31), datetime64[ns](2), float64(3), int64(1), object(6), timedelta64[ns](1)
memory usage: 632.9+ KB

In [ ]:
dAccidents.head(10)

,Adjusted Average Daily Traffic Amount,Crash Date,Crash Severity,Crash Time,Date Scene Cleared,Speed Limit,Time Scene Cleared,Crash Date Time,Accident Time,Scene Cleared Date Time,...,TimeOfDay_Evening Rush Hour,TimeOfDay_Morning Rush Hour,TimeOfDay_Other,SurfaceCondition_DRY,SurfaceCondition_OTHER,SurfaceCondition_WET,WeatherCondition_CLEAR,WeatherCondition_CLOUDY,WeatherCondition_OTHER,WeatherCondition_RAIN
Crash ID,,,,,,,,,,,,,,,,,,,,,
19468595,83664.0,2023-04-01,0,1559,2023-04-01,50.0,1559,2023-04-011559,2023-04-01 15:59:00,2023-04-011559,...,False,False,True,True,False,False,True,False,False,False
19474485,70137.0,2023-04-01,0,1544,2023-04-01,70.0,1640,2023-04-011544,2023-04-01 15:44:00,2023-04-011640,...,False,False,True,True,False,False,True,False,False,False
19474684,14489.0,2023-04-01,0,1930,2023-04-01,30.0,2055,2023-04-011930,2023-04-01 19:30:00,2023-04-012055,...,False,False,True,True,False,False,True,False,False,False
19476604,27522.0,2023-04-01,0,0948,2023-04-01,50.0,1026,2023-04-010948,2023-04-01 09:48:00,2023-04-011026,...,False,False,True,True,False,False,True,False,False,False
19476605,14489.0,2023-04-01,3,1246,2023-04-01,40.0,1305,2023-04-011246,2023-04-01 12:46:00,2023-04-011305,...,False,False,True,True,False,False,True,False,False,False
19477352,14489.0,2023-04-01,3,2300,2023-04-01,30.0,2351,2023-04-012300,2023-04-01 23:00:00,2023-04-012351,...,False,False,True,True,False,False,True,False,False,False
19479006,84501.0,2023-04-01,2,0005,2023-04-01,70.0,0044,2023-04-010005,2023-04-01 00:05:00,2023-04-010044,...,False,False,True,True,False,False,True,False,False,False
19483031,104418.0,2023-04-01,0,1929,2023-04-01,50.0,2021,2023-04-011929,2023-04-01 19:29:00,2023-04-012021,...,False,False,True,True,False,False,True,False,False,False
19487709,67764.0,2023-04-01,0,1454,2023-04-01,70.0,1624,2023-04-011454,2023-04-01 14:54:00,2023-04-011624,...,False,False,True,True,False,False,True,False,False,False
19477450,0.0,2023-04-02,0,1933,2023-04-02,10.0,2111,2023-04-021933,2023-04-02 19:33:00,2023-04-022111,...,False,False,True,True,False,False,True,False,False,False

In [ ]:
dAccidents.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3608 entries, 19468595 to 20316856
Data columns (total 44 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Adjusted Average Daily Traffic Amount  3608 non-null   float64
 1   Crash Date                             3608 non-null   object
 2   Crash Severity                         3608 non-null   int64
 3   Crash Time                             3608 non-null   object
 4   Date Scene Cleared                     3608 non-null   object
 5   Speed Limit                            3608 non-null   float64
 6   Time Scene Cleared                     3608 non-null   object
 7   Crash Date Time                        3608 non-null   object
 8   Accident Time                          3608 non-null   datetime64[ns]
 9   Scene Cleared Date Time                3608 non-null   object
 10  Cleared Time                           3608 non-null   datetime64[ns]
 11  Clearence Time                         3608 non-null   timedelta64[ns]
 12  Clearence Time (Minutes)               3608 non-null   float64
 13  RoadClass_CITY STREET                  3608 non-null   bool
 14  RoadClass_FARM TO MARKET               3608 non-null   bool
 15  RoadClass_INTERSTATE                   3608 non-null   bool
 16  RoadClass_NON TRAFFICWAY               3608 non-null   bool
 17  RoadClass_US & STATE HIGHWAYS          3608 non-null   bool
 18  Roadway_2 LANE, 2 WAY                  3608 non-null   bool
 19  Roadway_4 OR MORE LANES, DIVIDED       3608 non-null   bool
 20  Roadway_4 OR MORE LANES, UNDIVIDED     3608 non-null   bool
 21  Roadway_OTHER                          3608 non-null   bool
 22  Collision_ANGLE                        3608 non-null   bool
 23  Collision_ONE MOTOR VEHICLE            3608 non-null   bool
 24  Collision_OPPOSITE DIRECTION           3608 non-null   bool
 25  Collision_OTHER                        3608 non-null   bool
 26  Collision_SAME DIRECTION               3608 non-null   bool
 27  Friday                                 3608 non-null   bool
 28  Monday                                 3608 non-null   bool
 29  Saturday                               3608 non-null   bool
 30  Sunday                                 3608 non-null   bool
 31  Thursday                               3608 non-null   bool
 32  Tuesday                                3608 non-null   bool
 33  Wednesday                              3608 non-null   bool
 34  TimeOfDay_Evening Rush Hour            3608 non-null   bool
 35  TimeOfDay_Morning Rush Hour            3608 non-null   bool
 36  TimeOfDay_Other                        3608 non-null   bool
 37  SurfaceCondition_DRY                   3608 non-null   bool
 38  SurfaceCondition_OTHER                 3608 non-null   bool
 39  SurfaceCondition_WET                   3608 non-null   bool
 40  WeatherCondition_CLEAR                 3608 non-null   bool
 41  WeatherCondition_CLOUDY                3608 non-null   bool
 42  WeatherCondition_OTHER                 3608 non-null   bool
 43  WeatherCondition_RAIN                  3608 non-null   bool
dtypes: bool(31), datetime64[ns](2), float64(3), int64(1), object(6), timedelta64[ns](1)
memory usage: 632.9+ KB

In [ ]:
dAccidents.drop(columns=['Crash Date','Crash Time','Date Scene Cleared','Time Scene Cleared','Crash Date Time','Scene Cleared Date Time'], axis=1, inplace=True)

In [ ]:
dAccidents.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3608 entries, 19468595 to 20316856
Data columns (total 38 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Adjusted Average Daily Traffic Amount  3608 non-null   float64
 1   Crash Severity                         3608 non-null   int64
 2   Speed Limit                            3608 non-null   float64
 3   Accident Time                          3608 non-null   datetime64[ns]
 4   Cleared Time                           3608 non-null   datetime64[ns]
 5   Clearence Time                         3608 non-null   timedelta64[ns]
 6   Clearence Time (Minutes)               3608 non-null   float64
 7   RoadClass_CITY STREET                  3608 non-null   bool
 8   RoadClass_FARM TO MARKET               3608 non-null   bool
 9   RoadClass_INTERSTATE                   3608 non-null   bool
 10  RoadClass_NON TRAFFICWAY               3608 non-null   bool
 11  RoadClass_US & STATE HIGHWAYS          3608 non-null   bool
 12  Roadway_2 LANE, 2 WAY                  3608 non-null   bool
 13  Roadway_4 OR MORE LANES, DIVIDED       3608 non-null   bool
 14  Roadway_4 OR MORE LANES, UNDIVIDED     3608 non-null   bool
 15  Roadway_OTHER                          3608 non-null   bool
 16  Collision_ANGLE                        3608 non-null   bool
 17  Collision_ONE MOTOR VEHICLE            3608 non-null   bool
 18  Collision_OPPOSITE DIRECTION           3608 non-null   bool
 19  Collision_OTHER                        3608 non-null   bool
 20  Collision_SAME DIRECTION               3608 non-null   bool
 21  Friday                                 3608 non-null   bool
 22  Monday                                 3608 non-null   bool
 23  Saturday                               3608 non-null   bool
 24  Sunday                                 3608 non-null   bool
 25  Thursday                               3608 non-null   bool
 26  Tuesday                                3608 non-null   bool
 27  Wednesday                              3608 non-null   bool
 28  TimeOfDay_Evening Rush Hour            3608 non-null   bool
 29  TimeOfDay_Morning Rush Hour            3608 non-null   bool
 30  TimeOfDay_Other                        3608 non-null   bool
 31  SurfaceCondition_DRY                   3608 non-null   bool
 32  SurfaceCondition_OTHER                 3608 non-null   bool
 33  SurfaceCondition_WET                   3608 non-null   bool
 34  WeatherCondition_CLEAR                 3608 non-null   bool
 35  WeatherCondition_CLOUDY                3608 non-null   bool
 36  WeatherCondition_OTHER                 3608 non-null   bool
 37  WeatherCondition_RAIN                  3608 non-null   bool
dtypes: bool(31), datetime64[ns](2), float64(3), int64(1), timedelta64[ns](1)
memory usage: 463.8+ KB

In [ ]:
dAccidents.head()

,Adjusted Average Daily Traffic Amount,Crash Severity,Speed Limit,Accident Time,Cleared Time,Clearence Time,Clearence Time (Minutes),RoadClass_CITY STREET,RoadClass_FARM TO MARKET,RoadClass_INTERSTATE,...,TimeOfDay_Evening Rush Hour,TimeOfDay_Morning Rush Hour,TimeOfDay_Other,SurfaceCondition_DRY,SurfaceCondition_OTHER,SurfaceCondition_WET,WeatherCondition_CLEAR,WeatherCondition_CLOUDY,WeatherCondition_OTHER,WeatherCondition_RAIN
Crash ID,,,,,,,,,,,,,,,,,,,,,
19468595,83664.0,0,50.0,2023-04-01 15:59:00,2023-04-01 15:59:00,0 days 00:00:00,0.0,False,False,True,...,False,False,True,True,False,False,True,False,False,False
19474485,70137.0,0,70.0,2023-04-01 15:44:00,2023-04-01 16:40:00,0 days 00:56:00,56.0,False,False,True,...,False,False,True,True,False,False,True,False,False,False
19474684,14489.0,0,30.0,2023-04-01 19:30:00,2023-04-01 20:55:00,0 days 01:25:00,85.0,True,False,False,...,False,False,True,True,False,False,True,False,False,False
19476604,27522.0,0,50.0,2023-04-01 09:48:00,2023-04-01 10:26:00,0 days 00:38:00,38.0,False,False,False,...,False,False,True,True,False,False,True,False,False,False
19476605,14489.0,3,40.0,2023-04-01 12:46:00,2023-04-01 13:05:00,0 days 00:19:00,19.0,True,False,False,...,False,False,True,True,False,False,True,False,False,False

In [ ]:
# Columns that are not Needed / Forgot to Remove - Clearence Time
dAccidents.drop(columns='Clearence Time', axis=1, inplace=True)

In [ ]:
dAccidents.shape

(3608, 37)

In [ ]:
dAccidents.drop(columns=['Accident Time','Cleared Time'], axis=1, inplace= True)

In [ ]:
#Renaming Columns to Match Requirements
dAccidents.columns = ['Adjusted Average Daily Traffic Amount',
 'Crash Severity',
 'Speed Limit',
 'Clearence Time (Minutes)',
 'Road Class_CITY STREET',
 'Road Class_FARM TO MARKET',
 'Road Class_INTERSTATE',
 'Road Class_NON TRAFFICWAY',
 'Road Class_US & STATE HIGHWAYS',
 'Roadway Type_2 LANE, 2 WAY',
 'Roadway Type_4 OR MORE LANES, DIVIDED',
 'Roadway Type_4 OR MORE LANES, UNDIVIDED',
 'Roadway Type_OTHER',
 'Manner of Collision_ANGLE',
 'Manner of Collision_ONE MOTOR VEHICLE',
 'Manner of Collision_OPPOSITE DIRECTION',
 'Manner of Collision_OTHER',
 'Manner of Collision_SAME DIRECTION',
 'Friday',
 'Monday',
 'Saturday',
 'Sunday',
 'Thursday',
 'Tuesday',
 'Wednesday',
 'Time_Evening Rush Hour',
 'Time_Morning Rush Hour',
 'Time_Other',
 'Surface Condition_DRY',
 'Surface Condition_OTHER',
 'Surface Condition_WET',
 'Weather Condition_CLEAR',
 'Weather Condition_CLOUDY',
 'Weather Condition_OTHER',
 'Weather Condition_RAIN']

In [ ]:
dAccidents.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3608 entries, 19468595 to 20316856
Data columns (total 35 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Adjusted Average Daily Traffic Amount    3608 non-null   float64
 1   Crash Severity                           3608 non-null   int64
 2   Speed Limit                              3608 non-null   float64
 3   Clearence Time (Minutes)                 3608 non-null   float64
 4   Road Class_CITY STREET                   3608 non-null   bool
 5   Road Class_FARM TO MARKET                3608 non-null   bool
 6   Road Class_INTERSTATE                    3608 non-null   bool
 7   Road Class_NON TRAFFICWAY                3608 non-null   bool
 8   Road Class_US & STATE HIGHWAYS           3608 non-null   bool
 9   Roadway Type_2 LANE, 2 WAY               3608 non-null   bool
 10  Roadway Type_4 OR MORE LANES, DIVIDED    3608 non-null   bool
 11  Roadway Type_4 OR MORE LANES, UNDIVIDED  3608 non-null   bool
 12  Roadway Type_OTHER                       3608 non-null   bool
 13  Manner of Collision_ANGLE                3608 non-null   bool
 14  Manner of Collision_ONE MOTOR VEHICLE    3608 non-null   bool
 15  Manner of Collision_OPPOSITE DIRECTION   3608 non-null   bool
 16  Manner of Collision_OTHER                3608 non-null   bool
 17  Manner of Collision_SAME DIRECTION       3608 non-null   bool
 18  Friday                                   3608 non-null   bool
 19  Monday                                   3608 non-null   bool
 20  Saturday                                 3608 non-null   bool
 21  Sunday                                   3608 non-null   bool
 22  Thursday                                 3608 non-null   bool
 23  Tuesday                                  3608 non-null   bool
 24  Wednesday                                3608 non-null   bool
 25  Time_Evening Rush Hour                   3608 non-null   bool
 26  Time_Morning Rush Hour                   3608 non-null   bool
 27  Time_Other                               3608 non-null   bool
 28  Surface Condition_DRY                    3608 non-null   bool
 29  Surface Condition_OTHER                  3608 non-null   bool
 30  Surface Condition_WET                    3608 non-null   bool
 31  Weather Condition_CLEAR                  3608 non-null   bool
 32  Weather Condition_CLOUDY                 3608 non-null   bool
 33  Weather Condition_OTHER                  3608 non-null   bool
 34  Weather Condition_RAIN                   3608 non-null   bool
dtypes: bool(31), float64(3), int64(1)
memory usage: 379.2+ KB